nav {
    position: fixed;
    height: 350px;
    left: 20px;
    top: 0;
    bottom: 0;
    margin: auto 0;
    background-color: #fefefe;
    padding: 20px 10px;
    border-radius: 30px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: column;
    height: 100%;
    padding: 0;
}

nav ul li {
    width: 100%;
}

nav ul li a {
    text-decoration: none;
    color: var(--purple-darker);
    display: flex;
    justify-content: center;
    cursor: pointer;
    width: 100%;
}

nav ul li a svg {
    width: 30px;
    height: 30px;
}

nav ul li a span {
    position: absolute;
    background-color: var(--white);
    padding: 2px 15px;
    left: 10px;
    border-radius: 30px;
    margin-left: 10px;
    font-weight: 500;
    font-size: 15px;
    visibility: hidden;
    opacity: 0;
    transition: 0.2s all ease;
}

nav ul li a:hover {
    color: var(--yellow);
}

nav ul li a:hover span {
    visibility: visible;
    opacity: 1;
    left: 45px;
}

nav.active ul li a span {
    position: relative;
    opacity: 1;
    visibility: visible;
    margin-left: 0;
}

nav.active ul li a:hover span {
    color: var(--yellow);
}

nav.active ul li a:hover span {
    margin-left: 0;
}


@media (max-width: 800px) {
    nav {
        margin: 0;
        left: 0;
        top: calc(100vh - 50px);
        bottom: 0;
        border-radius: 0;
        border-top: var(--purple-dark) 2px solid;
        height: 50px;
        width: 100vw;
    }
    
    nav ul {
        flex-flow: row;
        justify-content: space-around;
    }
    
    /*
    nav ul li:nth-child(1) {
        position: absolute;
        background: var(--purple-dark);
        translate: 0 7px;
        border: 2px solid var(--purple-darker);
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 90px;
        width: 90px;
    }
    
    nav ul li:nth-child(1) a {
        translate: 0 -6px;
        color: var(--purple-darker);
    }
    */
    
    nav ul li a span {
        display: none;
    }
}

main {
    background-color: var(--purple);
}