@model BlisTimer.Models.TimeLog

@{
    Layout = "_EmptyLayout";
}

<style>
    input[type=time] {
            width: 14rem;
            padding-left: 20px;
            border: none;
            border-radius: 1rem;
            margin-top: 1rem;
    }

    input[type=time]:active, input[type=time]:focus {
        outline: 3px solid var(--blis-cyan);
    }
    input[type=submit] {
        width: 20rem;
        border: 2px solid white;
        background-color: transparent;
        border-radius: 1vh;
        padding: 1%;
        color: rgba(255,255,255,1);
        font-weight: 500;
        transition: 1s ease-out;
    }

    input[type=submit]:hover {
            background-color: var(--blis-cyan);
    }
</style>

<div class="main">
    <h1>Change Timelog</h1>
    <hr />
    <div id="container">
        <div id="innerBox">
            <form asp-controller="TimeLog" method="post">
                <label>Start time:</label>
                <input type="time" asp-for="StartTime" value="@ViewBag.log.StartTime.ToString("HH:mm")" />
                <label>End time:</label>
                <input type="time" asp-for="EndTime" value="@ViewBag.log.EndTime.ToString("HH:mm")" />
                <div id="submitBox">
                    <input type="submit" value="Save changes">
                </div>
            </form>
        </div>
    </div>
</div>