@model BlisTimer.Models.TimeLog

@{
    Layout = "_HomeLayout";
}

<style>
    #box form {
        width: 100%;
    }

    input[type=time] {
        width: 8rem;
        padding-left: 20px;
        border: none;
        border-radius: 1em;
    }
</style>

<div class="main">
    <h1>Change Timelog</h1>
    <hr />
    <div id="container">
        <div id="box">
            <form asp-controller="TimeLog" method="post">
                <div id="labelBox">
                    <label>Start time:</label>
                    <label>End time:</label>
                </div>
                <div id="inputBox">
                    <input type="time" asp-for="StartTime" value="@ViewBag.log.StartTime.ToString("HH:mm")" />
                    <input type="time" asp-for="EndTime" value="@ViewBag.log.EndTime.ToString("HH:mm")" />
                </div>
                <div id="submitBox">
                    <input type="submit" value="Save changes">
                </div>
            </form>
        </div>
    </div>
</div>