.main{
    color: white;
    padding: 0;
    margin: 0;
    font-family: "TT Commons", sans-serif;
}
h1{
    font-weight: 600;
    text-align: center;
    padding: 10px 0;
}
#container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#box {
    border-radius: 7px;
    background-color: var(--blis-purple-lighter);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 440px;
    height: 185px;
    transform: translate(0, -30%);
}
#labelBox {
    display: flex;
    justify-content: space-between;
    margin: 2vh auto 0 auto;
    width: 60%;
}
#inputBox {
    display: flex;
    justify-content: space-between;
    margin: 1vh auto;
    width: 75%;

}
#submitBox {
    display: flex;
    justify-content: center;
    margin: 6vh auto 0 auto;
    width: 60%;
}
input[type=time]:active, input[type=time]:focus {
    outline: 3px solid var(--blis-cyan);
}
input[type=submit] {
    width: 20rem;
    border: 2px solid white;
    background-color: transparent;
    border-radius: 1vh;
    padding: 1%;
    color: rgba(255,255,255,1);
    font-weight: 500;
    transition: 1s ease-out;
}
input[type=submit]:hover {
    background-color: var(--blis-cyan);
}
