@model BlisTimer.Models.TimeLog

@{
    Layout = "_HomeLayout";
}

<style>
    #box form {
        width: 100%;
    }

    input[type=time] {
        width: 8rem;
        padding-left: 20px;
        border: none;
        border-radius: 1em;
    }
</style>

<div class="main">
    <h1>Change Timelog</h1>
    <hr />
    <div id="container">
        <div id="box">
            <form asp-controller="TimeLog" method="post">
                <div id="labelBox">
                    <label>Start time:</label>
                    <label>End time:</label>
                </div>
                <div id="inputBox">
                    <input id="st" type="datetime-local" asp-for="StartTime" max="@ViewBag.max" value="@ViewBag.log.StartTime.ToString("yyyy-MM-dd HH:mm")" required/>
                    <input type="datetime-local" asp-for="EndTime" max="@ViewBag.max" value="@ViewBag.log.EndTime.ToString("yyyy-MM-dd HH:mm")" required/>
                </div>
                <div id="submitBox">
                    <input type="submit" value="Save changes">
                </div>
            </form>
        </div>
    </div>
</div>