@model List<BlisTimer.Models.TimeLog>

@{

}

<div class="main">
    <h1>Time overview</h1>
    <hr>
    
    <table>
        <tr id="header">
            <th>Project</th>
            <th>Activity</th>
            <th>Time</th>
            <th>Send off</th>
        </tr>
        
        <tr>
            <td>Website feyenoord</td>
            <td>Frontend develoment</td>
            <td>08:12:01</td>
            <td>False</td>
        </tr>
        <tr>
            <td>Website feyenoord</td>
            <td>Frontend develoment</td>
            <td>08:12:01</td>
            <td>False</td>
        </tr>
        <tr>
            <td>Website feyenoord</td>
            <td>Frontend develoment</td>
            <td>08:12:01</td>
            <td>False</td>
        </tr>
        <tr>
            <td>Website feyenoord</td>
            <td>Frontend develoment</td>
            <td>08:12:01</td>
            <td>False</td>
        </tr>
    </table>
</div>

