#container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#box {
    position: relative;
    background: rgba(255, 255, 255, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 50px 40px;
    width: 650px;
    border-radius: 7px;
}


#box:before {
    content: "";
    position: absolute;
    background: rgba(0, 0, 0, 0.2);
    inset: 0;
    z-index: -1;
    border-radius: 7px;
    transform: rotate(-5deg);
    transition: 1s all ease;
}

#box:hover:before {
    transform: rotate(3deg);
}



#login-submit {
    font-size: 20px;
    font-weight: 500;
    color: white;
    background: black;
    display: block;
    margin: 0 auto;
    border-radius: 100px;
    width: 100%;
    padding: 1rem;
}

svg {
    width: 100px;
    height: 100px;
    margin-bottom: 30px;
}

h1 {
    font-family: "TT Commons", sans-serif;
    font-size: 50px;
    color: black;
    margin-bottom: 10px;
}

text {
    font-family: "TT Commons", sans-serif;
    font-size: 20px;
    color: black;
    margin-bottom: 40px;
}
