
#container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#dot{
    background-position: right;
    right: 0;
    width: 1000px;
    height: 1000px;
    
}

#box {
    position: relative;
    background: linear-gradient(-90deg, var(--blis-purple-lighter), var(--blis-purple));
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 50px 40px;
    width: 650px;
    border-radius: 7px;
    transition: all 0.5s ease;
    opacity: var(--login-opacity);
}

/*
#box::after {
    content: "";
    position: absolute;
    background: var(--blis-cyan);
    inset: 0;
    z-index: -1;
    border-radius: 7px;
    translate: 10px -10px;
    transition: 1s all ease, 0.5s opacity ease 0.5s;
    opacity: var(--login-opacity);
}
*/

#box::before {
    content: "";
    position: absolute;
    background: var(--blis-cyan);
    inset: 0;
    z-index: -2;
    border-radius: 7px;
    transform: rotate(-0deg) scale(99%);
    transition: 1s all ease 0.2s,
                opacity 1s ease 0.2s;
    opacity: 0;
}

#box:hover:before {
    transform: rotate(-2deg) scale(101%);
    transition: 2s all ease 0.2s,
                opacity 2s ease-in 0.2s;
    opacity: 0.8;
}

#login-submit {
    font-size: 20px;
    font-weight: 500;
    color: white;
    background: black;
    display: block;
    border: 0;
    margin: 0 auto;
    border-radius: 100px;
    width: 100%;
    padding: 1rem;
}

svg {
    display: none;
    width: 100px;
    height: 100px;
    margin-bottom: 30px;
    filter: invert(0);
}

h1 {
    font-family: "TT Commons", sans-serif;
    font-size: 50px;
    color: snow;
    margin-bottom: 80px;
}

#normal-version {
    font-family: "TT Commons", sans-serif;
    font-size: 20px;
    color: snow;
    margin-bottom: 40px;
}

#failed-version {
    font-family: "TT Commons", sans-serif;
    font-size: 20px;
    color: snow;
    margin-bottom: 0;
}

img {
    width: 100%;
    position: fixed;
    translate: 0 -20%;
    filter: brightness(0.1) invert(0.3);
    object-fit: cover;
    z-index: -5;
}

