@model BlisTimer.Models.Employee
@{
    ViewData["Title"] = "Login";
    Layout = "_EmptyLayout";
}

<style>
    #box {
        background-color: var(--purple);
    }
    .label {
        color: white;
    }
    .input-field {
        width: 50%;
        border: none;
        border-radius: 2rem;
        text-align: center;
    }
    #login-submit {
        font-weight: 500;
    }
</style>

<div id="box" class="mx-auto my-5 py-5 rounded shadow-lg" style="width:30em;height: 22em;">
    <h1 class="text-center pb-3 text-white">@ViewData["Title"]</h1>
    <form class="text-center" asp-action="Index" asp-controller="Login">
        <div class="form-group">
            <label class="label mb-1" asp-for="Email">Email:</label><br>
            <input class="input-field" type="email" asp-for="Email" placeholder="John@blis.digital.nl">
        </div>
        <div class="form-group">
            <label class="label my-1" asp-for="Password">Password:</label><br>
            <input class="input-field" type="password" asp-for="Password" placeholder="********">
        </div>
        <input id="login-submit" class="rounded border-1 py-2 px-4 bg-warning" type="submit" value="Login">
    </form>
</div>
