* {
    font-family: 'TT Commons', sans-serif;
    box-sizing: border-box;
    margin: 0;
}

#screen {
    color: var(--blis-white);
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup,
.watch {
    text-align: center;
    background: linear-gradient(-90deg, var(--blis-purple-lighter), var(--blis-purple));
    width: 100%;
    height: 800px;
    position: relative;
    max-width: 720px;
    padding: 4rem 8rem;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    transition: all 0.5s ease;
}

.popup {
    opacity: 0;
    top: 0;
    display: flex;
    position: absolute;
    align-items: center;
    gap: 50px;
    justify-content: center;
    pointer-events: none;
}

.popup #button-container {
    display: flex;
    gap: 20px;
}

.watch {
    opacity: 1;
}

.task {
    background: transparent;
    height: 126px;
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: auto;
    translate: -10px 0px;
}

@keyframes clock-fase {
    0% {
        box-shadow: 0px 0px 20px 0px rgba(240, 200, 0, 0.1);
    }
    80% {
        box-shadow: 0px 0px 30px 0px rgba(240, 200, 0, 0.2);
    }
    100% {
        box-shadow: 0px 0px 20px 0px rgba(240, 200, 0, 0.1);
    }
}

#clock
{
    position: relative;
    height: 350px;
    width: 350px;
    border-radius: 50%;
    border: 2px solid var(--blis-white);
    display: flex;
    box-shadow: 0px 0px 20px 0px rgba(240, 200, 0, 0.1);
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease;
}

#clock #plus{
    position: relative;
    right: -70%;
    font-size: 50px;
    cursor: pointer;
}
#clock #minus{
    position: relative;
    right: 70%;
    font-size: 50px;
    cursor: pointer;
}

#clock.clock-fase {
    animation: clock-fase 4s ease-in-out infinite;
    justify-content: center;
    align-items: center;
    transition: all 2s ease;
}

.time {
    position: absolute;
    font-size: 5rem;
    font-weight: 700;
    margin-bottom: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}

.controls-container
{
    margin-top: auto;
}

.controls {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.controls button {
    appearance: none;
    border: none;
    outline: none;
    user-select: none;
    cursor: pointer;
    color: var(--blis-purple-dark);
    font-size: 1.8rem;
    background: var(--blis-yellow) none;
    margin: 0 0.8rem 1rem;
    padding: 0 2.5rem;
    border-radius: 10px;
    transition: 0.4s;
}

button:hover {
    opacity: 0.8;
}

button:active {
    opacity: 0.3;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.open-popup {
    opacity: 1;
    pointer-events: auto;
}

.popup #worked-time {
    /* make the time (format HH:MM:SS) look good with a nice border */
    font-size: 4rem;
    font-weight: 500;
    margin-bottom: 100px;
    min-width: 70%;
    border: 2px solid var(--blis-white);
    border-radius: 10px;
    padding: 10px;
}

.popup #worked-activity {
    /* The worked activity that shows above the time to indicate what task was worked on
     put in in a box like a header*/
    font-size: 2rem;
    font-weight: 500;
    
}

.popup h2 {
    background: var(--blis-purple-dark);
    font-size: 50px;
    font-weight: 500;
    margin: 30px 0 10px;
    border-radius: 0.4rem;
}

.popup p {
    font-size: 30px;
    font-weight: 400;
    margin: 10px 0 30px;
    font-family: "TT Commons", sans-serif;
}

.btn{
    padding: 10px 60px;
    background: var(--blis-yellow);
    color: var(--blis-purple-dark);
    border: 0;
    outline: none;
    cursor: pointer;
    font-size: 22px;
    font-weight: 500;
    border-radius: 30px;
}

.popup .btn {
    margin-top: auto;
}

#stop {
    opacity: 0.3;
    cursor: not-allowed;
}

#pause {
    opacity: 0.3;
    cursor: not-allowed;
}


#start-disabled {
    opacity: 0.3;
    cursor: not-allowed;
}

#project, #activity, #hourtype {
    font-size: 2rem;
    font-weight: 500;
    margin: 0 0.8rem;
    min-width: 100%;
    border-radius: 10px;
    text-align: center;
    border: none;
    outline: black;
    background: rgba(255, 255, 255, 0.9);
}

@keyframes notification-move {
    0% {
        right: 230px;
        top: 10px;
    }
    10% {
        right: 0;
        top: 0px;
    }
    20% {
        right: 1000px;
        top: 400px;
    }
    30% {
        right: 1000px;
        top: 0px;
    }
    40% {
        right: 0;
        top: 0px;
    }
    50% {
        right: 1000px;
        top: 100px;
    }
    80% {
        right: 500px;
        top: 440px;
    }
    100% {
        right: 230px;
        top: 10px;
    }
}

.notification{
    display: none;
    right: -500px;
    bottom: 0;
    position: absolute;
    width: 300px;
    height: 100px;
    background-color: #202020;
    box-shadow: black 0px 0px 10px 0px;
    color: white;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem 0px 0px 0rem;
    transition: all 1s ease-out;
}

.notification button {
    position: absolute;
    background: transparent;
    border: none;
    left: 5px;
    top: 5px;
}

.notification button img {
    width: 21px;
    height: 21px;
    filter: invert(1);
}

.notification .message{
    margin: 40px;
    margin-left: 50px;
    font-size: 14px;
    position: relative;
}


