@{
    ViewData["Title"] = "Stopwatch Page";
}

@section scripts {
    <script type="text/javascript">
    // Globals
    const time_el = document.querySelector('.watch .time');
    const startButton = document.getElementById("start");
    const stopButton = document.getElementById("stop");

    let seconds = 0;
    let interval = null;

    // Event Listeners
    startButton.addEventListener('click', start);
    stopButton.addEventListener('click', stop);

    // Timer updates
    function timer() {
      seconds++;

      //Format the time 
      let hrs = Math.floor(seconds / 3600);
      let mins = Math.floor((seconds - (hrs * 3600)) / 60);
      let secs = seconds % 60;

      if (secs < 10) secs = "0" + secs;
      if (mins < 10) mins = "0" + mins;
      if (hrs < 10) hrs = "0" + hrs;

      time_el.innerText = `${hrs}:${mins}:${secs}`;	
    }
    
    //start button
    function start() {
      if (interval) {
        return;
      }

      interval = setInterval(timer, 1000);
    }

    //stop button
    function stop() {
      if(seconds > 0){
        clearInterval(interval);
        interval = null;
    
        openPopup();
      }
    }

    //confirm button
    function confirm() {
      closePopup();
      seconds = 0;
      time_el.innerText = "00:00:00";
    }

    //cancel button
    function cancel() {
      closePopup();
      start();
    }


    //Popup message
    let popup = document.getElementById("popup");

    function openPopup() {
      popup.classList.add("open-popup");
    }

    function closePopup() {
      popup.classList.remove("open-popup");
    }

    </script>
}



<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Timer</title>
</head>

<style>
:root {
  --darkblue: #2d2e3b;
  --yellow: #ffe500;
  --darkerblue: #20222E;
  --white: #fff;
}

* {
  font-family: 'Fira sans', sans-serif;
  box-sizing: border-box;
  margin: 0;
}

body {
  background: var(--darkblue);
  color: var(--white);
}

.watch {
  text-align: center;
  background-color: var(--darkerblue);
  width: 100%;
  max-width: 720px;
  margin: 4rem auto;
  padding: 4rem 8rem;
  border-radius: 2rem;
}

.task {
  background-color: var(--darkblue);
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 1rem;
  margin: 0 0.8rem;
  border-radius: 0.4rem;
}

.time {
  font-size: 5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.controls {
  display: flex;
  align-items: center;
  justify-content: center;
}

.controls button {
  appearance: none;
  background: none;
  border: none;
  outline: none;
  user-select: none;
  cursor: pointer;

  color: var(--darkblue);
  font-size: 1.8rem;
  background-color: var(--yellow);
  margin: 0 0.8rem;
  padding: 0 2.5rem;
  border-radius: 0.4rem;

  transition: 0.4s;
}

button:hover {
  opacity: 0.8;
}

button:active {
  opacity: 0.3;
}




.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup {
  width: 100%;
  max-width: 720px;
  margin: 4rem auto;
  background: var(--darkerblue);
  border-radius: 2rem;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.1);
  text-align: center;
  padding: 4rem 8rem;
  color: var(--white);
  outline-style: solid;
  outline-color: var(--yellow);
  visibility: hidden;
  transition: transform 0.4s, top 0.4s;
}

.open-popup {
  visibility: visible;
  top: 20%;
  transform: translate(-50%, -50%) scale(1);
}

.popup h2 {
  background: var(--darkblue);
  font-size: 50px;
  font-weight: 500;
  margin-top: 30px 0 10px;
  border-radius: 0.4rem;
}

.popup p {
  font-size: 30px;
  font-weight: 400;
  margin: 10px 0 30px;
}

.btn{
  padding: 10px 60px;
  background: var(--yellow);
  color: var(--darkblue);
  border: 0;
  outline: none;
  cursor: pointer;
  font-size: 22px;
  font-weight: 500;
  border-radius: 30px;
}

</style>
<body>
  
  <div class="watch">
    <div class="task">
      Project >
      Current Task
    </div>

    <div class="time">
      00:00:00
    </div>

    <div class="controls">
      <button id="start">Start</button>
      <button id="stop">Stop</button>
    </div>

    <div class="container"></div>
      <div class="popup" id="popup">
        <h2>Project > Current Task</h2>
        <p>Please confirm you have worked (Time) on this task.</p>
        <button type="button" class="btn" onclick="confirm()">Confirm</button>
        <button type="button" class="btn" onclick="cancel()">Cancel</button>
      </div>
  </div>


  <script src="main.js"></script>
</body>
</html>