:root {
  --blis-white: #fff;
  --blis-yellow: #ffe500;
  --blis-cyan: #00c7b7;
  --blis-cyan-darker: #297374;
  --blis-purple-lighter: #454654;
  --blis-purple: #2d2e3b;
  --blis-purple-dark: #20222e;
  --blis-purple-darker: #16171c;
  
  --login-opacity: 0;
}

body {
  background: transparent;
  padding: 0;
  margin: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

main {
  position: relative;
}


html {
  background: linear-gradient(to right, var(--blis-purple-darker), var(--blis-purple));
  font-size: 14px;
  overflow: hidden;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

#bg-timer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  padding: 6px 30px;
  top: 10px;
  z-index: 999;
  background: var(--blis-purple);
  font-size: 60px;
  color: whitesmoke;
  width: 180px;
  left: 0;
  border-radius: 10px;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 850px) {
  #bg-timer {
    width: 130px;
    font-size: 30px;
  }
}

/*@media (min-width: 718px) {*/
/*  main {*/
/*    max-height: none;*/
/*  }*/
/*}*/