:root {
  --blis-white: #fff;
  --blis-yellow: #ffe500;
  --blis-cyan: #00c7b7;
  --blis-cyan-darker: #297374;
  --blis-purple: #2d2e3b;
  --blis-purple-dark: #20222e;
  --blis-purple-darker: #16171c;
}

body {
  padding: 0;
  margin: 0;
}

html {
  background-color: var(--blis-purple);
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}