@model BlisTimer.Models.TimeLogAdd

@{

}

<form method="post" action="Add">
  <div class="mb-3">
    <label for="" class="form-label">Amount of Seconds</label>
    <input type="text" class="form-control" asp-for="AmountOfTimeSpentInSeconds">
    <label for="" class="form-label">Name Employee</label>
    <input type="text" class="form-control" asp-for="EmployeeName">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>