@model BlisTimer.Models.ProjectAdd

@{
    Layout = "_EmptyLayout";
}

<form method="post" action="Add">
    <div class="mb-3">
        <label for="" class="form-label">Name</label>
        <input type="text" class="form-control" placeholder="Project Name" asp-for="Name">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
