@model BlisTimer.Models.ChooseProject

@{
    Layout = "_EmptyLayout";
}

@section Scripts{
    <script src="https://kit.fontawesome.com/25b6802032.js" crossorigin="anonymous"></script>
}
@section head{
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>
}

    <div class="main">
        <div class="side-bar">
            <div class="menu">
                @foreach (var project in @ViewBag.projects)
                {
                    <div class="item">
                            <a class="sub-btn">@project.Name <i class="fa-solid fa-angle-right"></i> </a>
                            <div class="sub-menu">
                                @foreach (var activity in project.Activities)
                                {
                                    <a class="sub-item" style="color: white; background-color: rgba(255, 255, 255, 0.1); display: flex; padding: 1px; align-items: center; justify-content: center; text-decoration: none; font-size: 25px; font-weight: 400;" onmouseover="overStyle(this)" onmouseout="outStyle(this)" asp-controller="Timer" asp-action="Index" asp-route-id="@activity.Id">@activity.Name</a>
                                }
                            
                            </div>
                    </div>
                }
                
        </div>
            </div>
    </div>

<script type="text/javascript">
    console.log("hello");
    $(document).ready(function (){
        $('.sub-btn').click(function(){
        $(this).next('.sub-menu').slideToggle();
        $(this).find('.fa-solid').toggleClass('rotate');
        });
    });
</script>

<script>
 /** Change the style **/
 function outStyle(object){
    object.style.color = 'white'; 
    object.style.backgroundColor = 'rgba(255, 255, 255, 0.1)';
    object.style.display = 'flex'; 
    object.style.padding = '1px'; 
    object.style.alignItems = 'center'; 
    object.style.justifyContent = 'center'; 
    object.style.textDecoration = 'none'; 
    object.style.fontSize = '25px';
    object.style.fontWeight = '400';
    // Change some other properties ...
 }

 /** Restores the style **/
 function overStyle(object){
    object.style.color = 'yellow';
    // Restore the rest ...
 }
</script>
