@model List<BlisTimer.Models.Project>

@{

}

<h1>Projects </h1>

<table class="table">
    <thead> 
        <tr>
            <th>Name</th>
            <th>Id</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var project in Model)
        {
            <tr>
                <td>@project.Name @project.Activities</td>
                <td>@project.Id</td>
            </tr>
        }
    </tbody>
</table>