@using Microsoft.EntityFrameworkCore.Metadata.Internal
@model PreferencesForm


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="index.cshtml">
    <title>Title</title>
</head>
<body>
<div id="screen">
    <div class="watch">
        <div class="settings">
            <form method="post" asp-action="Index" id="settings-form">
                <ul>
                    <label>Notifications</label>
                    <input id="notification-enabled" type="checkbox" asp-for="NotificationEnabled">
                    <div class="notification-time">
                        <label>Notification Time</label>
                        <input type="number" min="1" max="8" asp-for="NotificationTimeHours" value="@ViewBag.timeInHours">
                    </div>
                    <button type="submit">Save changes</button>
                </ul>
            </form>
        </div>
    </div>
</div>
<script>

    console.log(@ViewBag.checkBoxEnabled)
    document.getElementById("notification-enabled").checked = @ViewBag.checkBoxEnabled

</script>
</body>
</html>
