@using Microsoft.EntityFrameworkCore.Metadata.Internal
@model PreferencesForm

<div id="screen">
    <div class="watch">
        <h1>Settings</h1>
        <div id="form-container">
            <form method="post" asp-action="Index" id="settings-form">
                <div class="formBox">
                    <label>Notifications</label>
                    <input id="notification-enabled" type="checkbox" asp-for="NotificationEnabled"/>
                </div>
                <div class="notification-time formBox">
                    <label>Notification Time</label>
                    <input type="number" min="1" max="8" asp-for="NotificationTimeHours" value="@ViewBag.timeInHours">
                </div>
                <div class="formBox">
                    <label>Add/Subtract time from timer</label>
                    <input type="number" min="1" max="600" asp-for="ChangeCountTimeSeconds" value="@ViewBag.ModifyCount"> <br>
                </div>
                <div id="submitBox">
                    <button type="submit">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
        console.log(@ViewBag.checkBoxEnabled)
    document.getElementById("notification-enabled").checked = @ViewBag.checkBoxEnabled
</script>
