* {
    padding: 0;
    margin: 0;
    font-family: 'Fira sans', sans-serif;
}

#screen {
    color: var(--blis-white);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.watch {
    background: linear-gradient(-90deg, var(--blis-purple-lighter), var(--blis-purple));
    height: 300px;
    width: 550px;
    max-width: 720px;
    border-radius: 2rem;
    display: flex;
    padding-top: 3%;
    align-items: center;
    justify-content: center;
    position: relative;
}

.watch h1 {
    position: absolute;
    top: 50px;
}

.formBox {
    margin-bottom: 10px;
}

label {
    display: inline-block;
    width: 225px;
}

#submitBox {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: -25px;
}

#submitBox button {
    background: var(--blis-purple);
}