@using BlisTimer.Data
@model string

@{
    ViewData["Title"] = "Home Page";
    Layout = "_HomeLayout";
}

<text>Welcome to our super awesome website made for <p style="color: yellow">BlisDigital</p></text>
<p class="text-center">Welcome back @Model</p>