*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.main{
    min-height: 100vh;
    background-color: rgb(9, 9, 97);
    display: flex;
    align-items: center;
    justify-content: center;
}
.arrow{
    border: solid black;
    border-width: 0 0px 3px 0;
    
    display: inline-block;
    padding: 3px;
}
.right{
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
.side-bar{
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    box-sizing: border-box;
    overflow:hidden;
    border-radius: 10px;
    position: fixed;
    width:33em
}
.side-bar .menu{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}
.side-bar .menu .item{
    position:relative;
    display: flex;
    justify-content: center;
    cursor: pointer;
}
.side-bar .menu .item a{
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-weight:400;
    display: block;
    text-decoration: none;
}
.side-bar .menu .item a:hover{
    color: rgb(0, 0, 0);
    background-color: yellow;
    font-size: 25px;
    display: block;
    text-decoration: none;
    padding-left: 50%;
    padding-right: 50%;
    
}
.side-bar .menu .item .sub-btn::after{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-family: "FontAwesome";
    content: "\f105";
    font-size: 16px;
}
